<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="danfoss.com.ru.VLT.analogs.finder" android:installLocation="auto" android:versionCode="8">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />
	<application android:debuggable="true" android:icon="@drawable/Icon" android:label="Competitor Tool">

  </application>
</manifest>